//COLORS

$color-grey: #696969; //nav, main tab, footer
$color-grey-1: #c2c2c2; //nav menu text
$color-yellow: #ffc925; //nav menu link hover
$color-orange: #ff8900; //btns
$color-grey-2: #f5f5f5; //bcground phones
$color-orange-gr: linear-gradient(to right, #ff8500 0%, #ffae00 100%);//bg color for btns
$color-orange-gr-dark: linear-gradient(to right, #d36e00 0%, #e59100 100%);
$color-bright-orange: #ff4800;// reset filter
$color-dark-orange: #db7200; //burger
$color-grey-3: #3b3b3b; //side menu links
$color-gray-4: #efefef; //tab background


//FONT VARIABLES
$font-primary: 'Roboto', sans-serif;
$font-regular: 400;
$font-bold: 700;
$font-normal: 1.4rem;
$font-medium: 1.2rem;


//WIDTH

$container-width: 136rem;
